<nav>
    <div class='title'>
        <a href="/">
            <h1>Keech writes things</h1>
            <p>A keech site</p>
        </a>
    </div>
   <div class="links">
    <li><a href="/">Blogs</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="blogs/create">New Blog</a></li>
    </div>
</nav>